.attribution {
  position: absolute;
  bottom: 0;
  left: 250px;
  right: 0;
  margin: auto auto 15px;
  @include breakpoint-down(x-large) {
    left: 150px;
  }
  @include breakpoint-down(large) {
    left: 100px;
  }
  @media (max-width: 975px) {
    left: 50px;
  }
  @include breakpoint-down(small) {
    left: 0;
    text-align: center;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    color: $softRed;
  }
}
