// Primary
$desatRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
// Secondary
$darkGrayRed: hsl(0, 6%, 24%);
// Gradients always 135deg
$lightGradeTop: hsl(0, 0%, 100%);
$lightGradeBot: hsl(0, 100%, 98%);
// ----------------------------
$paleRedGradeTop: hsl(0, 80%, 86%);
$paleRedGradeBot: hsl(0, 74%, 74%);
